<nav class="d-flex flex-column flex-shrink-0 sidebar">

    <!-- Brand -->
    <a class="d-flex justify-content-center align-items-center text-decoration-none nav-link"
        href="{{ site.baseurl }}/{{page.lang}}/">


        <i class="bi bi-house-fill sidebar-home-icon"></i>

    </a>

    <hr class="text-secondary top-separator">

    <!-- NAV LINKS (optional - you can expand later) -->
    <ul class="nav nav-pills flex-column mb-auto gap-1">

        <li class="nav-item">
            <a href="{{ site.baseurl }}/{{page.lang}}/services.html"
                class="nav-link d-flex align-items-center gap-2">

                <i class="bi bi-wrench-adjustable-circle"></i>
                Services
            </a>
        </li>

        <li class="nav-item">
            <a href="{{ site.baseurl }}/{{page.lang}}/services.html"
                class="nav-link d-flex align-items-center gap-2">

                <i class="bi bi-wrench-adjustable-circle"></i>
                Services
            </a>
        </li>

    </ul>

    <hr class="text-secondary">

    <!-- CONTROLS -->
    <div class="d-flex justify-content-center controls-margin">


            <a href="{{site.github}}" class="btn btn-outline-secondary btn-sm" target="_blank"
                rel="noopener noreferrer">
                <i class="bi bi-github"></i>
            </a>
            <!-- Theme -->
            <button class="btn btn-outline-secondary btn-sm theme-switch">
                <i class="bi bi-moon-fill moon-icon"></i>
                <i class="bi bi-sun-fill sun-icon"></i>
            </button>

            <!-- Language -->
            <div class="dropdown">
                <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="dropdown">
                    {% if page.lang == 'pl' %}
                    <img src="https://flagcdn.com/w20/pl.png" class="lang-flag">
                    {% else %}
                    <img src="https://flagcdn.com/w20/gb.png" class="lang-flag">
                    {% endif %}
                </button>

                <ul class="dropdown-menu dropdown-menu-end">


                    <li>
                        <a class="dropdown-item lang-switch" data-lang="en"
                            href="{{ site.baseurl }}/en{{ page.url | remove_first: '/pl' | remove_first: '/en' }}">
                            <img src="https://flagcdn.com/w20/gb.png" class="lang-flag" alt="EN">
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item lang-switch" data-lang="pl"
                            href="{{ site.baseurl }}/pl{{ page.url | remove_first: '/pl' | remove_first: '/en' }}">
                            <img src="https://flagcdn.com/w20/pl.png" class="lang-flag">
                        </a>
                    </li>
                </ul>
            </div>

    </div>
</nav>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/services/sidebar-style.css">