.sidebar {
    width: 15rem;
    min-width: 10rem;
    max-width: 15rem;
}

.sidebar .nav-link {
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background 0.2s ease, color 0.2s ease;
    color: var(--text);
}
.sidebar .nav-link:hover {
    background: var(--hover-bg);
}

.sidebar-home-icon {
    font-size: 1.8rem;
    transition: 0.2s ease;
    padding: 0.5rem;
}

.sidebar-home-icon:hover {
    transform: scale(1.1);
}

.top-separator {
    margin-top: 0;
}

.controls-margin {
    padding-bottom: 0.5rem;
}

