<div class="container my-5">
    <div class="text-center mb-5">
        <h1>{{page.TITLE}}</h1>
        <p class="text-muted">
            {{page.DESCRIPTION}}
        </p>
    </div>

    <div class="row g-5">

        <div class="col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">
                    <h3 class="mb-4">{{page.CONNECT}}</h3>

                    <ul class="list-group shadow-sm">
                        <li class="list-group-item">
                            <a href="{{site.linkedin}}" target="_blank" class="text-decoration-none">
                                <i class="bi bi-linkedin me-2"></i> LinkedIn
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="{{site.github}}" target="_blank" class="text-decoration-none">
                                <i class="bi bi-github me-2"></i> GitHub
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">

                    <h3 class="mb-4">{{page.MESSAGE_HEAD}}</h3>

                    <form>

                        <div class="mb-3">
                            <label class="form-label">{{page.MESSAGE_EMAIL}}</label>
                            <input type="email" class="form-control" placeholder="name@example.com" required>
                        </div>

                        <div class="mb-4">
                            <label class="form-label">{{page.MESSAGE_MESSAGE}}</label>
                            <textarea class="form-control" rows="6" placeholder="Write your message..."
                                required></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary px-4">
                            {{page.MESSAGE_SEND_BTN}}
                        </button>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>