<!-- Main Content -->

<main>
    <div class="landing-bg-sky">
        <div class="landing-bg ">
            <div class="d-flex flex-column justify-content-center align-items-center min-vh-100 px-3">

                <h1 class="landing-title display-4 mb-4 text-center">
                    {{page.LANDING_TITLE_LEFT}} {{site.creator}} {{page.LANDING_TITLE_RIGHT}}
                </h1>

                <p class="landing-ctx lead align-self-end landing-ctx-fit landing-ctx-spacer">
                    {{page.LANDING_CTX}}
                </p>

            </div>
        </div>
    </div>
    <div class="container  my-5">



        <div class="card bg-transparent border-secondary">
            <div class="card-body">

                <h5 class="card-title mb-3">Languages</h5>

                <div id="langBars" class="d-flex flex-column gap-2"></div>

            </div>
        </div>
        


        <div class="row">
            <div class="col-md-4">
                <h2>Section 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod velit at purus tempor, non
                    fermentum arcu tincidunt.</p>
            </div>
            <div class="col-md-4">
                <h2>Section 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod velit at purus tempor, non
                    fermentum arcu tincidunt.</p>
            </div>
            <div class="col-md-4">
                <h2>Section 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod velit at purus tempor, non
                    fermentum arcu tincidunt.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Section 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod velit at purus tempor, non
                    fermentum arcu tincidunt.</p>
            </div>
            <div class="col-md-4">
                <h2>Section 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod velit at purus tempor, non
                    fermentum arcu tincidunt.</p>
            </div>
            <div class="col-md-4">
                <h2>Section 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod velit at purus tempor, non
                    fermentum arcu tincidunt.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Section 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod velit at purus tempor, non
                    fermentum arcu tincidunt.</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Section 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod velit at purus tempor, non
                    fermentum arcu tincidunt.</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Section 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod velit at purus tempor, non
                    fermentum arcu tincidunt.</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Section 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod velit at purus tempor, non
                    fermentum arcu tincidunt.</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Section 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod velit at purus tempor, non
                    fermentum arcu tincidunt.</p>
            </div>

        </div>
    </div>
</main>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/main/home-style.css">
<script type="module" src="{{ site.baseurl }}/assets/scripts/main/home-script.js"></script>